#wsi_search_form .wsi_input {
	width: 120px;
	margin-bottom: 5px;
	font-size: 12px;
	min-height: 25px;
	height: 30px;
}
#wsi-clear-button, #wsi-submit-button {
	font-size: 12px;
	min-height: 25px;
	height: 30px;
	line-height: 28px;
}

#wsi_pagination span {
	padding: 5px;
	font-size: 14px;
}

@media screen and (max-width: 1750px) {
	#wsi_pagination {
		margin-top: 10px;
		width: 100%;
		text-align: left;
	}
}

#wsi_pagination span.current span{
	font-weight: bold;
	color: #000;
}


#wsi_graph_container {
	width: 100%;
	padding: 10px 10px 0 0;
}

#wsi_graph_container .heading {
	text-align: left;
	font-size: 14px;
	margin-bottom: 5px;
}
